<%- include ../partials/header.ejs %> 
<%- include ../partials/main_nav.ejs %> 
  <!-- Main -->
  <main class="container-fluid">
    <div class="col-md-12">
        <div class="col-md-12">
            <h1><%= title %></h1>
            <% if(typeof displayName == 'string' && displayName) { %>
            <a class="btn btn-primary btn-sm mb-2" href="/user-list/add" role="button">
                <i class="fas fa-plus-circle"></i>Add Contact
            </a>
            <% } %> 
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header row -->
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Contact</th>
                    <th class="text-center">Email</th>
                    <% if(typeof displayName == 'string' && displayName) { %>
                    <th>Action</th>
                    <% } %> 
                </tr>
                <!-- Rows -->
                <% for(let count = 0; count < UserList.length; count++){ %>
                    <tr>
                        <td class="text-center"><%= UserList[count].name %></td>
                        <td class="text-center"><%= UserList[count].contact %></td>
                        <td class="text-center"><%= UserList[count].email %></td>
                        <% if(typeof displayName == 'string' && displayName) { %>
                        <td>
                            <a href="/user-list/edit/<%= UserList[count].id %>" class="btn btn-success btn-sm">
                                <i class="fas fa-pencil-alt"></i>Edit
                            </a>
                            <a href="/user-list/delete/<%= UserList[count].id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>Delete
                            </a>
                        </td>
                        <% } %> 
                    </tr>
                <% } %> 
            </table>
        </div>
    </div>
  </main>
  <%- include ../partials/bottom_nav.ejs %> 
  <%- include ../partials/footer.ejs %> 
  
